{% extends 'base.html' %}

{% block body %}
<br>
<div class="container" >
    <center>
        <h4>Emotions Detected</h4>
    </center>
    <div class="row">
        <div class="col-md-6">
            <br>
            <p>Live Feed</p>
            <video id="video" style="width:100%;" autoplay></video>
            <br>
            <label for="Interval">Interval in seconds</label>
            <div class="form-inline">
                <div class="form-group">
                    <input type="number" class="form-control" name="live_interval" required id="live_interval"
                        value="{{ interval }}">
                    <button class="btn btn-primary" onclick="changeInterval(live_interval.value)">Change</button>
                    <button class="btn btn-success" onclick="start()">Start</button>
                    <button class="btn btn-danger" onclick="stop()">Stop</button>
                </div>
            </div>
            <br>
            <canvas id="canop"></canvas>
        </div>
        <div class="col-md-6">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
    </div>

</div>
<script src="{{ url_for('static', filename='live.js') }}"></script>

{% endblock %}